<ion-view title="Gem Store: About">
  <ion-content class="padding">
  	<table border="0" class="table table-reponsive" style="text-align: center;">
  	<tr><td>
    <h3>About</h3>
    <span class="ionicicon icon ion-ionic"></span>
    <p>Developed with <a style="text-decoration: underline;" href="#/tab/about" onclick="openLink('http://www.ionicframework.com')">Ionic Framework</a></p>
    <p><small>Copyright &copy; 2014 Sam Saint-Pettersen</small></p>
    <p>

    	<a href="#/tab/about" onclick="openLink('http://github.com/stpettersens')">
    	<span class="ionicicon-smaller icon ion-social-github"></span></a>

    	<a href="#/tab/about" onclick="openLink('http://www.facebook.com/coderdude')">
    	&nbsp; &nbsp; <span class="ionicicon-smaller icon ion-social-facebook"></span></a>

    	&nbsp; &nbsp; <a href="#/tab/about" onclick="openLink('http://uk.linkedin.com/in/samstpettersen')">
    	<span class="ionicicon-smaller icon ion-social-linkedin"></span></a>

    	&nbsp; &nbsp; <a href="#/tab/about" onclick="openLink('http://twitter.com/samjiman')">
    	<span class="ionicicon-smaller icon ion-social-twitter"></span></a>
    </p>
	</td></tr></table>
  </ion-content>
</ion-view>
