<ion-view title="Gem Store: About">
  <ion-content class="padding">
  	<table border="0" class="table table-reponsive" style="text-align: center;">
  	<tr><td>
    <h3>About</h3>
    <span class="ionicicon icon ion-ionic"></span>
    <p>Developed with <a style="text-decoration: underline;" href="#" onclick="javascript:window.open(‘http://www.ionicframework.com’, ‘_blank’); return false;">Ionic Framework</a></p>
    <p><small>Copyright &copy; 2014 Sam Saint-Pettersen</small></p>
    <p>

    	<a href="#" onclick="window.open(‘http://github.com/stpettersens’, ‘_blank’); return false;">
    	<span class="ionicicon-smaller icon ion-social-github"></span></a>

    	<a href="#" onclick="window.open(‘http:/www.facebook.com/coderdude’, ‘_blank’); return false;">
    	&nbsp; <span class="ionicicon-smaller icon ion-social-facebook"></span></a>

    	&nbsp; <a href="#" onclick="window.open(‘http://uk.linkedin.com/in/samstpettersen, ‘_blank’); return false;">
    	<span class="ionicicon-smaller icon ion-social-linkedin"></span></a>

    	&nbsp; <a href="#" onclick="window.open(‘http://twitter.com/samjiman’, ‘_blank’); return false;">
    	<span class="ionicicon-smaller icon ion-social-twitter"></span></a>
    </p>
	</td></tr></table>
  </ion-content>
</ion-view>
