<ion-view title="Gem Store: Browse">
  <ion-content class="padding" ng-controller="StoreCtrl as store">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products" data-ng-hide="product.soldOut">
				<h3>
				{{product.name}}
<em class="pull-right">{{product.price | currency}}</em><br/><br/>
<button class="pull-right btn btn-default" data-ng-show="product.canPurchase">Add to Cart</button
<br/><br/><img alt="{{product.image}}" src="img/bloodstone.gif" ng-src="{{product.image}}" /><br/><br/>
				</h3>
		<div ng-controller="PanelCtrl as panel">
		<ul class="nav nav-pills">
			<li data-ng-class="{active: panel.isSelected(1)}">
				<a href data-ng-click="panel.selectTab(1)">Description</a>
			</li>
			<li data-ng-class="{active: panel.isSelected(2)}">
				<a href data-ng-click="panel.selectTab(2)">Specs</a>
			</li>
			<li data-ng-class="{active: panel.isSelected(3)}">
				<a href data-ng-click="panel.selectTab(3)">Reviews</a>
			</li>
		</ul><br/>
		<div class="panel" data-ng-show="panel.isSelected(1)">
			<h4>Description</h4>
			<p>{{product.description}}</p>
		</div>
		<div class="panel" data-ng-show="panel.isSelected(2)">
			<h4>Specs</h4>
			<blockquote>None yet</blockquote>
		</div>
		<div class="panel" data-ng-show="panel.isSelected(3)">
			<h4>Reviews</h4>
			<blockquote data-ng-repeat="review in product.reviews">
				<strong>{{review.stars}} Stars</strong>
				{{review.body}}
				<br/><cite>- {{review.author}}</cite>
			</blockquote>
			<hr/>
			<form name="reviewForm" id="reviewForm" data-ng-controller="ReviewCtrl as reviewCtrl" data-ng-submit="reviewCtrl.addReview(product)" novalidate>
				<blockquote>
					<strong>{{reviewCtrl.review.stars}} Stars</strong>
					{{reviewCtrl.review.body}}
					<br/><cite>- {{reviewCtrl.review.author}}</cite>
				</blockquote>
				<p>
					<select data-ng-model="reviewCtrl.review.stars" required>
						<option value="1">1 star</option>
						<option value="2">2 stars</option>
						<option value="3">3 stars</option>
						<option value="4">4 stars</option>
						<option value="5">5 stars</option>
					</select>
				</p>
				<p>
					<textarea data-ng-model="reviewCtrl.review.body" placeholder="Your review..."   required></textarea>
				</p>
				<label for="email">by:</label><input data-ng-model="reviewCtrl.review.author" id="email" type="email" placeholder="you@domain.com" required /><br/>
				<input class="btn btn-default" type="submit" value="Add Review" />
			</form>
		</div>
		</div>
	</div>
  </ion-content>
</ion-view>
