#throbber {
	text-align: center;
	border: 0px;
}
.ionicicon {
	font-size: 75px !important;
}
.ionicicon-smaller {
	font-size: 40px !important;
}
a:visited {
	color: #000000;
}
a { 
	color: #000000; 
}
a:hover { 
	text-decoration: none;
	color: #444444; /*#7A7A7A;*/
}
.nav-pills .active a {
	background-color: #7F525D !important;
}
#reviewForm textarea, #email {
	width: 380px;
}
#username, #password {
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}
/* Form validation highlighting. */
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
option, textarea, #email, #username, #search, #password {
	border: 1px solid #DCDCDC !important;
}
